{% extends 'layout.html' %}

{% block body %}
<form action= "/search" method = "post">
    
  <div class="card-body row no-gutters align-items-center">
  <div class="col-auto">
      <i class="fas fa-search h4 text-body"></i>
          </div>
                          
      <div class="col">
          <input class="form-control form-control-lg form-control-borderless" type="search" name = "keyword"  placeholder="Anahtar kelime girin.">
      </div>
                              
      <div class="col-auto">
          <button class="btn btn-lg btn-success" type="submit">Ara!</button>
      </div>
                              
                          </div>


</form>
<div class="card mb-1">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Klasik Sorular</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            {%if questions %}
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Soru</th>
                    <th scope="col">Klasik Cevap</th>
                    
                    <th scope="col">Tarih</th>
                    <th scope="col">Ekleyen</th>
                    
                  </tr>
                </thead>
                <tbody>
                {%for question in questions%}
                  <tr>
                    <th scope="row">{{question.id}}</th>
                      <td>{{question.soru}}</td>
                      <td>{{question.klasikcevap}}</td>
                      
                      <td>{{question.created_date}}</td>
                      <td>{{question.ekleyen}}</td>
                     
                  </tr>
            
                {%endfor%}
                 
                </tbody>
              </table>
            
            
            {%else%}
            <div class="alert alert-danger">Henüz soru eklemediniz.</div>
            
            {%endif%}
        </table>
      </div>
    
</div>
<div class="card-footer text-muted">           </div>
</div>       
       



{% endblock body %}